<!doctype html>
<html ng-app>
	<head>
		<title>Stack surveillance</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    	<script src="stackSurveillance.js"></script>
		<link rel="stylesheet" href="style.css" type="text/css"></link>
	</head>

	<body>
		<div ng-controller="stackSurveillance">
		
		<div>
		<button type="button" data-ng-click="refresh()">ManualRefresh</button>
		<button type="button" data-ng-click="start()">StartAutoRefresh</button>
		<button type="button" data-ng-click="stop()">StopAutoRefresh</button>
		</div>
		
		<div class="queries">
		<div class="query" ng-repeat="query in queries">
			<span>{{searches[$index].title}}</span>
			<ul class="questions">
			<li class="question" ng-repeat="item in query">
				<a href="{{item.link}}">{{item.title}}</a>
				<ul class="tags">
					<li class="tag" ng-repeat="tag in item.tags">
						{{tag}}
					</li>
				</ul>
			</li>
			</ul>
		</div>
		</div>
		
		
		</div>
	</body>
</html>
