body { url("../images/lightpaperfibers.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


div.query .panel-body {
max-height: 300px;
overflow-y: scroll;
overflw-x: none;
}

div.query span
{
	font-weight: bolder;
}

div.query ul.questions, div.query ul.tags
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.query ul.questions li.question
{
	padding: 10px 0px;
	clear: both;
	border-top: 1px solid #ddd;
	margin-top: 20px;
}


div.query ul.tags li.tag
{
	float: right;
	padding: 1px;
	display: inline-block;
	margin-left: 3px;
}


div#newQuery {
padding: 10px;
position: fixed;
left: 0px;
top: 0px;
z-index: 1000;
max-width: 600px;
}

div#newQuery form {
min-width: 500px;
}