body {
background: url("./images/lightpaperfibers.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

div.query .panel-heading span{
cursor: pointer;
}

div.query .panel-body {
max-height: 300px;
overflow-y: scroll;
overflw-x: none;
}

div.query ul.questions, div.query ul.tags
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.query ul.questions li.question
{
	padding: 10px 0px;
	clear: both;
	border-top: 1px solid #ddd;
	margin-top: 20px;
}


div.query ul.tags li.tag
{
	float: right;
	padding: 1px;
	display: inline-block;
	margin-left: 3px;
}


div#management {
padding: 15px 10px 10px 15px;
position: fixed;
left: -5px;
top: -5px;
z-index: 1000;
max-width: 600px;
}

div#management form {
min-width: 500px;
max-width: 600px;
}

div#management form textarea{
max-width: 570px;
}

/* animation */


/*div#commands.ng-hide-add,
div#commands.ng-hide-remove {*/
  /* remember to add this */
/* display:block!important;
  opacity:1;
}

div#commands.ng-hide-add
{
animation: slideOutUp 0.5s;
}

div#commands.ng-hide-remove
{
animation: slideInUp 0.5s;
}*/

div#management form.ng-hide-add
{
animation: slideOutLeft 0.5s;
}

div#management form.ng-hide-remove
{
animation: slideInLeft 0.5s;
}

div#management form.ng-hide-add,
div#management form.ng-hide-remove {
  /* remember to add this */
  display:block!important;
  opacity:1;
}



/*.question.ng-enter, 
.question.ng-leave, 
.question.ng-move {
}*/

.question.ng-enter {
animation: slideInRight 1s;
}
.question.ng-enter.ng-enter-active {

}

/*.question.ng-leave.ng-leave-active {
animation: slideOutLeft 1s;
}*/

.question.ng-leave {
animation: slideOutLeft 1s;
}


